[submodule "cjose"]
	path = cjose
	url = https://github.com/cisco/cjose.git
[submodule "jansson"]
	path = jansson
	url = git@github.com:akheron/jansson.git
[submodule "jsmn"]
	path = jsmn
	url = git@github.com:zserge/jsmn.git
